.page--about {
  table td:first-child {
    line-height: 1.25;
    padding-top: 0.375rem;
    vertical-align: top;
    white-space: nowrap;
  }

  table img {
    height: 1rem;
    width: 1rem;
  }

  table img:first-child {
    margin-right: 0.25rem;
  }
}
