pre > code {
  background-color: #23272e;
  border: 1px solid var(--ajBorderColor);
  color: $cl-dark-text;
  display: block;
  font-family: $tf-family-mono;
  font-size: $tf-size-mono;
  padding: 1rem;
  overflow-x: scroll;
}

code.inline {
  border-radius: 0.125rem;
  color: lighten($cl-secondary, 10%);
  font-family: $tf-family-mono;
  font-size: $tf-size-mono;
  padding: 0.125rem;
}

.prefers-light-mode {
  code.inline {
    background-color: $cl-light-2;
    color: $cl-secondary;
  }
}

@media screen and (prefers-color-scheme: light) {
  body:not(.prefers-dark-mode) code.inline {
    background-color: $cl-light-2;
    color: $cl-secondary;
  }
}

// .makeup .hll {background-color: #49483e}
// .makeup {color: #f8f8f2; background-color: #272822}
.makeup {color: #f8f8f2;}
.makeup .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.makeup .hll { background-color: #ffffcc }
.makeup { background: #23272e; color: #ABB2BF }
.makeup .c { color: #7F848E } /* Comment */
.makeup .err { color: #ABB2BF } /* Error */
.makeup .esc { color: #ABB2BF } /* Escape */
.makeup .g { color: #ABB2BF } /* Generic */
.makeup .k { color: #C678DD } /* Keyword */
.makeup .l { color: #ABB2BF } /* Literal */
.makeup .n { color: #ABB2BF } /* Name */
.makeup .o { color: #ABB2BF } /* Operator */
.makeup .x { color: #ABB2BF } /* Other */
.makeup .p { color: #ABB2BF } /* Punctuation */
.makeup .ch { color: #7F848E } /* Comment.Hashbang */
.makeup .cm { color: #7F848E } /* Comment.Multiline */
.makeup .cp { color: #7F848E } /* Comment.Preproc */
.makeup .cpf { color: #7F848E } /* Comment.PreprocFile */
.makeup .c1 { color: #7F848E } /* Comment.Single */
.makeup .cs { color: #7F848E } /* Comment.Special */
.makeup .gd { color: #ABB2BF } /* Generic.Deleted */
.makeup .ge { color: #ABB2BF } /* Generic.Emph */
.makeup .gr { color: #ABB2BF } /* Generic.Error */
.makeup .gh { color: #ABB2BF } /* Generic.Heading */
.makeup .gi { color: #ABB2BF } /* Generic.Inserted */
.makeup .go { color: #ABB2BF } /* Generic.Output */
.makeup .gp { color: #ABB2BF } /* Generic.Prompt */
.makeup .gs { color: #ABB2BF } /* Generic.Strong */
.makeup .gu { color: #ABB2BF } /* Generic.Subheading */
.makeup .gt { color: #ABB2BF } /* Generic.Traceback */
.makeup .kc { color: #E5C07B } /* Keyword.Constant */
.makeup .kd { color: #C678DD } /* Keyword.Declaration */
.makeup .kn { color: #C678DD } /* Keyword.Namespace */
.makeup .kp { color: #C678DD } /* Keyword.Pseudo */
.makeup .kr { color: #C678DD } /* Keyword.Reserved */
.makeup .kt { color: #E5C07B } /* Keyword.Type */
.makeup .ld { color: #ABB2BF } /* Literal.Date */
.makeup .m { color: #D19A66 } /* Literal.Number */
.makeup .s { color: #98C379 } /* Literal.String */
.makeup .na { color: #E06C75 } /* Name.Attribute */
.makeup .nb { color: #E5C07B } /* Name.Builtin */
.makeup .nc { color: #E5C07B } /* Name.Class */
.makeup .no { color: #D19A66 } /* Name.Constant */
.makeup .nd { color: #61AFEF } /* Name.Decorator */
.makeup .ni { color: #E06C75 } /* Name.Entity */
.makeup .ne { color: #E06C75 } /* Name.Exception */
.makeup .nf { color: #61AFEF } /* Name.Function */
.makeup .nl { color: #E06C75 } /* Name.Label */
.makeup .nn { color: #E06C75 } /* Name.Namespace */
.makeup .nx { color: #E06C75 } /* Name.Other */
.makeup .py { color: #E06C75 } /* Name.Property */
.makeup .nt { color: #E06C75 } /* Name.Tag */
.makeup .nv { color: #E06C75 } /* Name.Variable */
.makeup .ow { color: #56B6C2 } /* Operator.Word */
.makeup .p-Marker { color: #ABB2BF } /* Punctuation.Marker */
.makeup .w { color: #ABB2BF } /* Text.Whitespace */
.makeup .mb { color: #D19A66 } /* Literal.Number.Bin */
.makeup .mf { color: #D19A66 } /* Literal.Number.Float */
.makeup .mh { color: #D19A66 } /* Literal.Number.Hex */
.makeup .mi { color: #D19A66 } /* Literal.Number.Integer */
.makeup .mo { color: #D19A66 } /* Literal.Number.Oct */
.makeup .sa { color: #98C379 } /* Literal.String.Affix */
.makeup .sb { color: #98C379 } /* Literal.String.Backtick */
.makeup .sc { color: #98C379 } /* Literal.String.Char */
.makeup .dl { color: #98C379 } /* Literal.String.Delimiter */
.makeup .sd { color: #98C379 } /* Literal.String.Doc */
.makeup .s2 { color: #98C379 } /* Literal.String.Double */
.makeup .se { color: #98C379 } /* Literal.String.Escape */
.makeup .sh { color: #98C379 } /* Literal.String.Heredoc */
.makeup .si { color: #98C379 } /* Literal.String.Interpol */
.makeup .sx { color: #98C379 } /* Literal.String.Other */
.makeup .sr { color: #98C379 } /* Literal.String.Regex */
.makeup .s1 { color: #98C379 } /* Literal.String.Single */
.makeup .ss { color: #56B6C2 } /* Literal.String.Symbol */
.makeup .bp { color: #E5C07B } /* Name.Builtin.Pseudo */
.makeup .fm { color: #56B6C2; font-weight: bold } /* Name.Function.Magic */
.makeup .vc { color: #E06C75 } /* Name.Variable.Class */
.makeup .vg { color: #E06C75 } /* Name.Variable.Global */
.makeup .vi { color: #E06C75 } /* Name.Variable.Instance */
.makeup .vm { color: #E06C75 } /* Name.Variable.Magic */
.makeup .il { color: #D19A66 } /* Literal.Number.Integer.Long */
