.article > p:last-of-type::after { 
  border: 1px solid currentColor; 
  content: ''; 
  display: block; 
  float: right; 
  position: relative; 

  /* To be changed based on typeface */ 
  height: 0.625em; 
  margin-left: 0.3em; 
  top: 0.3em; 
  width: 0.625em; 
}
