body {
  font-family: $tf-family;
  font-weight: $tf-weight;
  line-height: $tf-height;
}

a {
  color: $cl-primary;
}

p {
  margin: 1.5rem 0px;
}

// Light and Dark Modes

body {
  background-color: $cl-dark-background;
  color: $cl-dark-text;

  --ajBackgroundColor: #{$cl-dark-background};
  --ajBorderColor: #{$cl-dark-border};
  --ajTextColor: #{$cl-dark-text};
  --ajLogoColor: #{$cl-light-1};
}

body.prefers-light-mode {
  background-color: $cl-light-background;
  color: $cl-light-text;

  --ajBackgroundColor: #{$cl-light-background};
  --ajBorderColor: #{$cl-light-border};
  --ajTextColor: #{$cl-light-text};
  --ajLogoColor: #{$cl-light-text};
}

@media screen and (prefers-color-scheme: light) {
  body:not(.prefers-dark-mode) {
    background-color: $cl-light-background;
    color: $cl-light-text;

    --ajBackgroundColor: #{$cl-light-background};
    --ajBorderColor: #{$cl-light-border};
    --ajTextColor: #{$cl-light-text};
    --ajLogoColor: #{$cl-light-text};
  }
}

// Border Box Fix

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
