// Color
$cl-primary: #4E9AC5;
// $cl-primary: #1F81B8;

$cl-light-1: #FFFFFF;
$cl-light-2: #F3F3F3;

$cl-dark-1: #1B1E20;
$cl-dark-2: #818181;

// Typography
$tf-family: 'Raleway', sans-serif;
$tf-height: 1.5;
$tf-weight: 300;
