<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= if @page.title do %>
      <title><%= @page.title %> &bull; <%= @site.name %></title>
    <% else %>
      <title><%= @site.name %></title>
    <% end %>
    <link rel="stylesheet" href="<%= asset "css/app.css" %>">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap&text=0123456789" rel="stylesheet">
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
<%= if @page[:label] do %>
  <body class="page--<%= String.downcase(@page.label) %>">
<% else %>
  <body>
<% end %>
    <div class="cell well">
    <%= if @page[:group] == "main" do %>
      <%= include "aj" %>
    <% end %>
      <section>
        <%= include "nav" %>
        <%= @contents %>
      </section>
    </div>

<%= if @page[:label] == "Home" do %>
    <div class="cell well">
      <h2>Writing</h2>
    <%= for post <- @all_posts do %>
      <% <<month::binary-3, " ", day::binary-2, ", ", year::binary-4>> = post.date %>
      <a href="<%= post.url %>" class="listing">
        <div class="date">
          <div class="month"><%= month %></div>
          <div class="day"><%= day %></div>
          <div class="year"><%= year %></div>
        </div>
        <div class="text">
          <div class="title"><%= post.title %></div>
          <div class="description"><%= post.extras["preview"] %></div>
        </div>
      </a>
    <% end %>
    </div>
<% end %>

    <footer>
      Created with ♥︎ by AJ Foster. <a href="https://github.com/aj-foster/aj-foster.com/">Source</a>
    </footer>
    <script async defer data-domain="aj-foster.com" src="https://p.aj-foster.com/js/index.js"></script>
  </body>
</html>
