.mbl
  %h1#title AJ Foster
  %p Hello there! I'm AJ.

.mbl
  %h3 A little about me...
  %ul
    %li Sofware developer at <a href="https://www.pluralsight.com/">Pluralsight</a> focused on creating interactive coding challenges.
    %li Background in Mathematics with an acute interest in Graph Theory.
    %li Volunteer at FIRST Tech Challenge robotics tournaments.
  %p= link_to "Read a little more...", "/about"

.mbl
  %h3 Things I've written
  - get_articles.each do |article|
    %p
      %a{href: article.url}= article.data.title
      %br/
      = article.data.description
